@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

*{
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'poppins', sans-serif;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 5rem;
}

body.dark{
  background-color: #1f1f1f;
  color: #fff;

  transition: background 0.3s linear, color 0.3s linear;
}

.toggle-container{
  position: fixed;
  top: 10px;
  right: 10px;
}

label{
  cursor: pointer;

 /* ---------------------------- */
  background-color: #000;
  user-select: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;

  transition: background 0.3s linear, color 0.3s linear;
}

body.dark label{
  background-color: #fff;
}

input{
  visibility: hidden;
}

